@page "/"

@inject MyInterFace ccc

@foreach(var i in d)
            {
                <div>
                    <p>Id is: @i.Id</p>
                    <p>Name is: @i.Name</p>
                    <p>Address is:@i.Address</p>

                </div>
            }


@code
{
   
}